In [14]:
import pandas as pd
import os
import re
import numpy as np

In [15]:
data_files = os.listdir('Resources')

FileNotFoundError: [Errno 2] No such file or directory: 'Resources'

In [6]:
data_list_dict = []

In [7]:
for file in data_files:
    if(re.match('aacer.+state.+.xlsx', file) and not re.match('.+dec.+', file) and not re.match('.+2019.+', file)):
        print(file)
        
        df = pd.read_excel(f'Resources/{file}')
        
        state_header = pd.Series(df.iloc[0,0])
        state_header = list(state_header)

        other_headers = pd.Series(df.iloc[1,1:])
        other_headers = list(other_headers.values)

        df_labels = state_header + other_headers

        df.columns = df_labels

        df = df.iloc[2:,:]
        
        file_series = df.iloc[:,0]
        file_df = pd.DataFrame({'filename': file_series})
        file_df['filename'] = file[6:14]
        file_series = pd.to_datetime(file_df['filename'], format='%b-%Y')
        
        data_dict = {
            'Month and Year': list(file_series.values),
            'State': list(df.iloc[:,0].values),
            'Cumulative': list(df.iloc[:,1].values),
            'Chapter 7': list(df.iloc[:,4].values),
            'Chapter 13': list(df.iloc[:,5].values)
        }
        
        data_list_dict.append(data_dict)

#state, cum ttl, chap 7, chap 13

NameError: name 'data_files' is not defined

In [8]:
for file in data_files:
    if(re.match('aacer.+state.+.xlsx', file) and not re.match('.+dec.+', file)):
        print(file)
        
        df = pd.read_excel(f'Resources/{file}')
        
        state_header = pd.Series(df.iloc[0,0])
        state_header = list(state_header)

        other_headers = pd.Series(df.iloc[1,1:])
        other_headers = list(other_headers.values)

        df_labels = state_header + other_headers

        df.columns = df_labels

        df = df.iloc[2:,:]
        
        file_series = df.iloc[:,0]
        file_df = pd.DataFrame({'filename': file_series})
        file_df['filename'] = file[6:14]
        file_series = pd.to_datetime(file_df['filename'], format='%b-%Y')
        
        data_dict = {
            'Month and Year': list(file_series.values),
            'State': list(df.iloc[:,0].values),
            'Cumulative': list(df.iloc[:,1].values),
            'Chapter 7': list(df.iloc[:,4].values),
            'Chapter 13': list(df.iloc[:,5].values)
        }
        
        data_list_dict.append(data_dict)

#state, cum ttl, chap 7, chap 13

NameError: name 'data_files' is not defined

In [9]:
data_df = pd.DataFrame(data_list_dict[0])

IndexError: list index out of range

In [10]:
# hack to create a blank dataframe
data_df = data_df.loc[data_df['Month and Year'] == 'x']

NameError: name 'data_df' is not defined

In [11]:
for data in data_list_dict:
    data_df = data_df.append(pd.DataFrame(data))
    print(len(data_df))

In [12]:
data_df = data_df.loc[data_df['Cumulative'].notnull()]
#data_df['Cumulative'].notnull()
# also filter out the total rows

NameError: name 'data_df' is not defined

In [13]:
data_df

NameError: name 'data_df' is not defined

In [10]:
data_df = data_df.sort_values(['State','Month and Year'])
data_df.head(20)

  Month and Year    State  Cumulative  Chapter 7  Chapter 13
0     2020-01-01  Alabama      2156.0      696.0      1451.0
0     2020-02-01  Alabama      4186.0     1439.0      2733.0
0     2020-03-01  Alabama      6445.0     2469.0      3957.0
0     2020-04-01  Alabama      7882.0     3174.0      4687.0
0     2020-05-01  Alabama      9142.0     3848.0      5270.0
0     2020-06-01  Alabama     10492.0     4540.0      5926.0
0     2020-07-01  Alabama     11845.0     5161.0      6641.0
0     2020-08-01  Alabama     13071.0     5692.0      7330.0
0     2020-09-01  Alabama     14309.0     6223.0      8020.0
1     2020-01-01   Alaska        38.0       31.0         7.0
1     2020-02-01   Alaska        63.0       50.0        11.0
1     2020-03-01   Alaska        93.0       75.0        14.0
1     2020-04-01   Alaska       117.0       97.0        16.0
1     2020-05-01   Alaska       143.0      119.0        20.0
1     2020-06-01   Alaska       166.0      139.0        23.0
1     2020-07-01   Alaska       195.0      165.0        26.0
1     2020-08-01   Alaska       215.0      183.0        28.0
1     2020-09-01   Alaska       240.0      204.0        32.0
2     2020-01-01  Arizona      1114.0      837.0       267.0
2     2020-02-01  Arizona      2080.0     1568.0       493.0

In [13]:
df_al = data_df.loc[data_df["State"] == "Alabama"]
df_al_cum = df_al["Cumulative"].diff(periods=1)
df_al_cum

0       NaN
0    2030.0
0    2259.0
0    1437.0
0    1260.0
0    1350.0
0    1353.0
0    1226.0
0    1238.0
Name: Cumulative, dtype: float64

In [14]:
data_df.groupby(['State','Month and Year']).dtypes

                       Cumulative Chapter 7 Chapter 13
State   Month and Year
Alabama 2020-01-01        float64   float64    float64
        2020-02-01        float64   float64    float64
        2020-03-01        float64   float64    float64
        2020-04-01        float64   float64    float64
        2020-05-01        float64   float64    float64
...                           ...       ...        ...
Wyoming 2020-05-01        float64   float64    float64
        2020-06-01        float64   float64    float64
        2020-07-01        float64   float64    float64
        2020-08-01        float64   float64    float64
        2020-09-01        float64   float64    float64

[504 rows x 3 columns]

In [16]:
data_df.groupby(['State','Month and Year']).diff()

    Cumulative  Chapter 7  Chapter 13
0          NaN        NaN         NaN
0          NaN        NaN         NaN
0          NaN        NaN         NaN
0          NaN        NaN         NaN
0          NaN        NaN         NaN
..         ...        ...         ...
50         NaN        NaN         NaN
50         NaN        NaN         NaN
50         NaN        NaN         NaN
50         NaN        NaN         NaN
50         NaN        NaN         NaN

[504 rows x 3 columns]

In [ ]:
group1 = data_df.groupby(['State','Month and Year'])

In [ ]:
group1.dtypes

In [ ]:
print(group1.mean())

In [ ]:
group1["Cumulative"].apply(lambda x: np.diff(x).item())